<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta charset="utf-8">
  <base href="/">
  <title>SMS Sender</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>

<body class="container-fluid">
  <% include header%>
  <% include smss%>
  <% include footer%>
</body>
</html>
