
<div class="row jumbotron jumbotron-fluid" ng-controller="SMSsCtrl">
    <h4 class="col-12">SMS Editor</h4>
    <div class="col-12">
        <form>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">From</label>
                </div>
                <input type="text" aria-label="From" class="form-control" ng-model="data.from">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">To</label>
                </div>
                <div class="input-group-append" ng-repeat="rcvr in data.to track by $index">
                    <label class="input-group-text">{{rcvr}}<span class="badge badge-danger" ng-click="DelReceiver($index)">X</span></label>
                </div>
                <input type="text" aria-label="To" class="form-control" placeholder="Add a phone number here and click 'Add'" ng-model="data.receiver">
                <input type="button" class="input-group-append btn-primary" value="Add" ng-click="AddReceiver()">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">Message</label>
                </div>
                <textarea class="form-control" ng-model="data.message" rows="3"></textarea>
            </div>
            <button class="btn btn-primary" type="button" ng-click="Send()">Send</button>
        </form>
        <p></p>
        <label>History:</label>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="item in historyRev track by $index">
                {{$index}} {{item}}
            </li>
        </ul>
    </div>
</div>